@import "../base/variables";
.top {
    &_headingSub {
        font-size: 16px;
        line-height: calc(24 / 16);
        letter-spacing: 0;
        color: $cl_grey-300;
        span {
            color: $cl_primary-300;
        }
    }
}