@import "../../styles/base/variables";
@import "../../styles/base/mixin";

.header {
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
}
.nav {
  &_link {
    @include link_regular($cl_grey-200);
    text-decoration: none;
    margin-left: 2em;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}
