body {
    background: url("/images/main_bg.png"),$cl_grey-900;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: var(--font-poppins);
    font-weight: 400;
    color: #fff;
}

main {
    padding: 75px 0 125px;
}